src/main/resources/stpa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GWClientSAService"
             targetNamespace="http://integration.gwclient.smallsystems.cma.se/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://integration.gwclient.smallsystems.cma.se/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://integration.gwclient.smallsystems.cma.se/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="send" type="tns:send_t"/>
      <xs:complexType name="send_t">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="message" type="tns:ParamsMtMsg"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParamsMtMsg">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="block4" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgCopySrvId" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgCopySrvInfo" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgDelNotifRq" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgFinValidation" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgFormat" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgId" type="xs:long"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgMacResult" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgNetInputTime" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgNetMir" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgNetOutputDate" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgPacResult" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgPde" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgPdm" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgPriority" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="msgReceiver" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="msgSender" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgSequence" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgSession" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgSubFormat" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="msgType" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgUserPriority" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="msgUserReference" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="format" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="refMsgUserReference" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ack_nak_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACK"/>
          <xs:enumeration value="NAK"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="sendResponse" type="tns:sendResponse"/>
      <xs:complexType name="sendResponse">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="data" type="tns:result_t"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="result_t">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="type" type="tns:ack_nak_type"/>
          <xs:element maxOccurs="1" minOccurs="1" name="datetime" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="mir" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="ref" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="signature" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="info" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GWClientSA_send">
    <part element="tns:send" name="data"/>
  </message>
  <message name="GWClientSA_sendResponse">
    <part element="tns:sendResponse" name="data"/>
  </message>
  <portType name="GWClientSA">
    <operation name="send">
      <input message="tns:GWClientSA_send"/>
      <output message="tns:GWClientSA_sendResponse"/>
    </operation>
  </portType>
  <binding name="GWClientSABinding" type="tns:GWClientSA">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="send">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GWClientSAService">
    <port binding="tns:GWClientSABinding" name="GWClientSAPort">
      <soap:address location="http://172.25.9.153:8080/rtgs-service/GWClientSAService/stpa.wsdl"/>
    </port>
  </service>
</definitions>